INSAR-2022-West_Haebig_Cox.txss2
*.aux
*.bbl
*.blg
*.nav
*.out
*.snm
*.toc
main.synctex.gz
figures/coxhaeb-2022-brm.ai
.Rproj.user/
INSAR-2022-West_Haebig_Cox.Rproj
*.log
main.pdf
figures/rsa-histograms.ai
.main.tex.swp
.main.tex.un~
main.tex~
main.tex.orig
